---
layout: default
title: Turbo Diesel de Colombia GD | Mantenimiento y reparaciones
description: "Turbo Diesel de Colombia GD tiene los servicios que necesitas para tener un motor diesel con turbo eficiente y en buen estado. Optimizamos tu inversión."
h1: "Turbo Diesel de Colombia GD"
intro: '¿Tienes problemas de turbo en motor diesel otra vez?<br>¿O te gustaría instalar el turbo en tu motor diesel con garantías de funcionamiento?<br> <strong class="resaltar">En Turbo Diese de Colombia GD respetamos tu dinero y tu tiempo</strong>. Escríbenos para agendar tu cita.'
hero: img/mecanico-turbo-diesel.avif
alt: Mecánico trabajando en motor turbo diesel
img_title: Mecánico de Turbo Diesel
fotos:
  - Foto de Motor turbo diesel: img/motor-turbo-diesel.avif
  - Foto de Motor turbo diesel: img/motor-turbo-diesel.avif
  - Foto de Motor turbo diesel: img/motor-turbo-diesel.avif
  - Foto de Motor turbo diesel: img/motor-turbo-diesel.avif
  - Foto de Motor turbo diesel: img/motor-turbo-diesel.avif
  - Foto de Motor turbo diesel: img/motor-turbo-diesel.avif
  - Foto de Motor turbo diesel: img/motor-turbo-diesel.avif
---
<ul class="fondo datos">
  <li>
    <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum">
    <span>Lorem Ipsum</span>
  </li>
  <li>
    <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum">
    <span>Lorem Ipsum</span>
  </li>
  <li>
    <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum">
    <span>Lorem Ipsum</span>
  </li>
  <li>
    <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum">
    <span>Lorem Ipsum</span>
  </li>
</ul>
<section class="wrapper beneficios">
  <div class="flow title">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, nihil. At deserunt qui atque inventore eum aut, voluptate nobis non?</p>
  </div>
  <ul>
    <li>
      <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum">
      <h3>lorem ispum laso awo</h3>
      <p>Lorem Ipsum</p>
    </li>
    <li>
      <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum">
      <h3>lorem ispum laso awo</h3>
      <p>Lorem Ipsum</p>
    </li>
    <li>
      <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum">
      <h3>lorem ispum laso awo</h3>
      <p>Lorem Ipsum</p>
    </li>
  </ul>
  {% include boton.html %}
</section>
<main class="wrapper servicios dos_columnas">
  <img src="{{'img/sistema-turbo-diesel.avif' | relative_url }}" alt="Foto de un sistema turbo diesel" title="Turbo Diesel para instalar" loading="lazy">
  <div>
    <h2>Lorem ipsum dolor sit</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos eum corporis facere consequuntur incidunt et.</p>
    <ul class="servicios_lista">
      <li>→ Lorem ipsum ad aac ew</li>
      <li>→ Lorem ipsum ad aac ew</li>
      <li>→ Lorem ipsum ad aac ew</li>
      <li>→ Lorem ipsum ad aac ew</li>
      <li>→ Lorem ipsum ad aac ew</li>
      <li>→ Lorem ipsum ad aac ew</li>
      <li>→ Lorem ipsum ad aac ew</li>
      <li>→ Lorem ipsum ad aac ew</li>
      <li>→ Lorem ipsum ad aac ew</li>
      <li>→ Lorem ipsum ad aac ew</li>
      <li>→ Lorem ipsum ad aac ew</li>
      <li>→ Lorem ipsum ad aac ew</li>
    </ul>
    <a href="#" title="Lorem Ipsum" class="boton boton_2">Lorem Ipsum</a>
  </div>

</main>
<section class="wrapper dos_columnas">
  <div class="flow title">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, nihil. At deserunt qui atque inventore eum aut, voluptate nobis non?</p>
    {% include boton.html %}
  </div>
</section>
{% include slider.html %}
<section class="wrapper servicios dos_columnas dos_columnas_izquierda">
  <img src="{{'img/sistema-turbo-diesel.avif' | relative_url }}" alt="Foto de un sistema turbo diesel" title="Turbo Diesel para instalar" loading="lazy">
  <div>
    <h2>Lorem ipsum dolor sit</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos eum corporis facere consequuntur incidunt et.</p>
    <hr>
    <a href="#" title="Lorem Ipsum" class="boton boton_2">Lorem Ipsum</a>
  </div>
</section>
<section class="wrapper dos_columnas about">
  {% include video_youtube.html %}
  <div class="flow title">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, nihil. At deserunt qui atque inventore eum aut, voluptate nobis non?</p>
  </div>
</section>
{% include carousel.html %}
<aside class="cta fondo">
  <p>lorem ipsum adoa am awnaw Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae.</p>
  {% include boton.html %}
</aside>
<section class="about wrapper">
  <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum recusandae tenetur corporis fugiat dignissimos temporibus ipsa deserunt maiores voluptas natus.</p>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing</h3>
    <ul>
      <li>
        <h4>Lorem ipsum dolor sit</h4>
        <div>
          <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum" loading="lazy">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora deleniti molestias perspiciatis vel quisquam?</p>
        </div>
      </li>
      <li>
        <h4>Lorem ipsum dolor sit</h4>
        <div>
          <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum" loading="lazy">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora deleniti molestias perspiciatis vel quisquam?</p>
        </div>
      </li>
      <li>
        <h4>Lorem ipsum dolor sit</h4>
        <div>
          <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum" loading="lazy">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora deleniti molestias perspiciatis vel quisquam?</p>
        </div>
      </li>
      <li>
        <h4>Lorem ipsum dolor sit</h4>
        <div>
          <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum" loading="lazy">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora deleniti molestias perspiciatis vel quisquam?</p>
        </div>
      </li>
      <li>
        <h4>Lorem ipsum dolor sit</h4>
        <div>
          <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum" loading="lazy">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora deleniti molestias perspiciatis vel quisquam?</p>
        </div>
      </li>
      <li>
        <h4>Lorem ipsum dolor sit</h4>
        <div>
          <img src="{{'img/logo-mini.avif' | relative_url }}" alt="Lorem ipsum" title="lorem ipsum" loading="lazy">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora deleniti molestias perspiciatis vel quisquam?</p>
        </div>
      </li>
    </ul>
  </section>
  <aside class="parallax">
    <div class="parallax-content">
      <h2>Lorem ipsum dolor sit amet consectetur</h2>
      {% include boton.html %}
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15906.814026576758!2d-74.1471986!3d4.6468769!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9c3fdf596cb7%3A0x15d342a6482ef0eb!2sTURBO%20DIESEL%20DE%20COLOMBIA%20GD%20SAS!5e0!3m2!1ses-419!2sco!4v1729102598102!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </aside>