---
layout: pagina
permalink: productos
title: "Estos productos de Holographic en Colombia están a tu alcance"
description: "Mira los productos de Holographic para empresas: etiquetas holográficas, cintas de seguridad, lectores de códigos, impresoras térmicas, y más. ¡Entra!"
h1: 'Escoge un producto, infórmate y haz clic para asesorarte con Holographic sobre <span class="resaltar">cómo podemos reducir tus pérdidas</span>'
intro: Conoce los productos que fabricamos para evitar pérdidas de dinero y proteger tus activos
hero: img/productos-holographic.webp
jpg: img/productos-holographic.jpg
alt: Fotografía de productos de holographic
---
<main class="entradas wrapper">
  <h2>Consigue los stickers y suministros de Holographic que aumentan la seguridad y el control de tu empresa</h2>
  <p>¿Están falsificando tu mercancía? ¿Tu mercancía se está perdiendo en el camino o en su bodega? <strong>Así es como te podemos ayudar desde Holographic</strong></p>
  <div class="blog_gallery">
    {% for caso in site.productos %}
    <article class="article">
      <img src="{{caso.hero|relative_url}}" alt="{{caso.alt}}" loading="lazy" width="280" height="180">
      <div>
        <a href="{{caso.url|relative_url}}" title="{{caso.title}}"><h3>{{caso.h1}}</h3></a>
        <p>{{caso.intro}}</p>
      </div>
    </article>
    {% endfor %}
  </div>
</main>
<section class="wrapper flow">
  <h2>Los productos que más solicitan las empresas para asegurar su mercancía</h2>
  <div class="home_gallery">
    {% for item in site.data.home.hologramas limit: 5 %}
    <div class="article flow">
      <img src="{{item.img|relative_url}}" alt="{{item.alt}}" loading="lazy" width="180" height="225">
      <a href="{{item.url |relative_url}}">{{item.nombre}}</a>
    </div>
    {% endfor %}
  </div>
</section>