<footer class="wrapper">
  <h2>Turbo Diesel de Colombia DG</h2>
  <div>
    <img src="{{'img/logotipo.avif' | relative_url }}" alt="Firma Julian Franco Paginas Web y SEO">
  </div>
  <p>Visítanos en la <a href="{{site.maps}}"></a>{{site.direccion}}</p>
  <p>No pierdas más dinero. Cuidar de tu motor turbo diesel exige conocimiento y experiencia de los profesionales de Turbo Diesel de Colombia GD. Para conocernos mejor, puedes visitar nuestro <a href="#" rel="nofollow noopener noreferrer" target="_blank">Instagram</a>. Escríbenos a nuestro WhatsApp: <a href="#" id="lead_whatsapp" rel="nofollow noopener noreferrer" target="_blank">+57 350 632 9106</a>. Y, por supuesto, aquí están los <a href="{{site.baseurl}}/legal" title="Términos legales de {{site.name}}">Términos y Condiciones</a> de nuestra página web.</p>
  <p>©&nbsp; <b>turbodieseldecolombiagd.com</b> {{ "now" | date:"%Y"}} - Todos los derechos reservados</p>
  <small><a href="https://juli.com.co" target="_blank">Web desarrollada por juli.com.co</a></small>
</footer>