<footer class="wrapper">
  <h2>Turbo Diesel de Colombia DG</h2>
  <div>
    <img src="{{'img/logotipo.avif' | relative_url }}" alt="Firma Julian Franco Paginas Web y SEO">
  </div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cupiditate culpa nam consequatur ipsum ex, ipsam magni officiis ullam, tempora quod fugiat id odio. <a href="#" rel="nofollow noopener noreferrer" target="_blank">Instagram</a>. Escríbenos a nuestro WhatsApp: <a href="#" id="lead_whatsapp" rel="nofollow noopener noreferrer" target="_blank">+573000000000</a>. Y, por supuesto, aquí están los <a href="{{site.baseurl}}/legal" title="Términos legales de {{site.name}}">Términos y Condiciones</a> de mi página web. ¡See you soon!</p>
  <p>©&nbsp; <b>turbodieseldecolombiagd.com</b> {{ "now" | date:"%Y"}} - Todos los derechos reservados</p>
  <small><a href="https://juli.com.co" target="_blank">Web desarrollada por juli.com.co</a></small>
</footer>