<footer class="wrapper">
  <h2>Juli.Com.Co</h2>
  <div class="firma">
    By <img src="{{'img/logotipo.avif' | relative_url }}" alt="Firma Julian Franco Paginas Web y SEO">
  </div>
  <p>Respeto tus claves, tu web y tu dinero. Te prometo que nuestra amistad laboral perdurará en el tiempo. Por esta razón, la mayoría de mis clientes llegan por el boca a boca. Pídeme sus referencias. Te dejo mi perfil en <a href="https://www.linkedin.com/in/seoempresarial/" rel="nofollow noopener noreferrer" target="_blank">LinkedIn</a>. Escríbeme a mi WhatsApp: <a href="#" id="lead_whatsapp" rel="nofollow noopener noreferrer" target="_blank">+573202492786</a>. Y, por supuesto, aquí están los <a href="{{site.baseurl}}/legal" title="Términos legales del blog de Juli">Términos y Condiciones</a> de mi página web. ¡See you soon!</p>
  <p>©&nbsp; <b>juli.com.co</b> {{ "now" | date:"%Y"}} - Todos los derechos reservados</p>
</footer>