{% assign layout = page.layout %}
{% case layout %}

{% when "default" %}
<header class="header_home">
  <div>
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam harum sit ab tempore autem, natus perspiciatis repellendus nesciunt!</p>
    {% include boton.html %}
  </div>
  <img src="{{'img/mecanico-turbo-diesel.avif' | relative_url }}" alt="Mecánico trabajando en motor turbo diesel" title="Mecánico de Turbo Diesel">
  
  {% when "pagina" %}
  <header class="post_header wrapper">
    <div class="header_bloque flow">
      <h1>{{page.h1}}</h1>
    </div>
    <img src="{{ page.hero | relative_url }}" alt="{{page.alt}}" width="600" height="340" class="bloque_big bg">
    {% include boton.html url=site.whatsapp title="Escribe a Holographic" texto="Asesórate gratis" id="lead_whatsapp" %}

{% when "post" %}
<header class="post_header wrapper">
  <div class="bg flow">
    <h1>{{page.h1}}</h1>
    <p>{{page.intro}}</p>
    <small>Autor: {{page.autor}} | Temática: {{page.category}}</small>
    <small><b>📍Estás aquí: </b><a href="/" title="Página de inicio">Inicio</a>/<a href="{{'blog' | relative_url}}" title="Blog Holographic">Blog</a>/{{page.title}}</small>
  </div>
    <img src="{{page.hero|relative_url}}" alt="{{page.alt}}" title="{{page.title}}" width="600" height="340">

{% else %}
<header class="bloques wrapper">
  <div class="header_bloque bloque_big">
    <img src="{{page.hero |relative_url}}" alt="{{page.alt}}">
    <div>
      <h1>{{page.h1}}</h1>
      <p>{{page.intro}}</p>
      {% include boton.html url=site.whatsapp title="Escribe a Holographic" texto="Asesórate gratis" id="lead_whatsapp" %}
    </div>
  </div>
  <div class="header_mini_bloque bg">
    <h4>Accesos rápidos</h4>
    {% for items in page.enlaces %}
    {% for item in items %}
      <a href="{{item[1]}}">› {{item[0]}}</a>
    {% endfor %}
    {% endfor %}
  </div>
{% endcase %}
</header>
