<nav>
  <input id="nav-toggle" type="checkbox">
  <a href="{{site.baseurl}}/" title="Inicio" class="inicio">
    <img src="{{'img/logo-mini.avif'|relative_url}}" alt="Logo de Turbo Diesel Colombia" height="40" width="41" title="Página de inicio de Turbo Diesel de Colombia"> <span>Turbo Diesel de Colombia</span>
  </a>
    
  <ul class="navegacion">
    <li class="dropdown">
      <span>Hologramas</span>
      <div class="dropdown-content">
        <a class="boton boton_1" href="{{'productos/etiquetas-platinum'|relative_url}}" title="Sticker Platinum">Etiquetas Platinum</a>
        <a class="boton boton_1" href="{{'productos/etiquetas-premium'|relative_url}}" title="Adhesivo Premium">Etiquetas Premium</a>
      </div>
    </li>

    <li class="dropdown">
      <span>Etiquetas</span>
      <div class="dropdown-content">
        <a class="boton boton_1" href="{{'productos/etiquetas-void'|relative_url}}" title="Etiquetas adhesivas VOID">Etiquetas VOID</a>
        <a class="boton boton_1" href="{{'productos/sticker-generico'|relative_url}}" title="Etiqueta holográfica genérica">Holograma sin personalización</a>
        <a class="boton boton_1" href="{{'productos/etikit-app-trazabilidad'|relative_url}}" title="Aplicación de trazabilidad">App Etikit de trazabilidad</a>
      </div>
    </li>
    
    <li class="dropdown">
      <span>Suministros</span>
      <div class="dropdown-content">
        <a class="boton boton_1" href="{{'productos/bobinas-papel-holografico'|relative_url}}" title="Rollos de papel holográfico">Rollo papel holográfico</a>
        <a class="boton boton_1" href="{{'productos/impresoras-termicas'|relative_url}}" title="Impresoras térmicas y de transferencia">Impresoras térmicas</a>
        <a class="boton boton_1" href="{{'productos/lectores-codigos-de-barras'|relative_url}}" title="Pistola lectora códigos de barras">Lectores de códigos barras</a>
      </div>
    </li>

    <li class="dropdown">
      <span>Usos</span>
      <div class="dropdown-content">
        <a class="boton boton_1" href="{{'blog/etiquetas-para-garantias'|relative_url}}" title="Stickers de garantía">Etiquetas para garantías</a>
        <a class="boton boton_1" href="{{'blog/trazabilidad-interna'|relative_url}}" title="Trazabilidad de mercancía">Trazabilidad interna</a>
        <a class="boton boton_1" href="{{'blog/marcacion-activos-fijos'|relative_url}}" title="Marcación de activos">Marcación activos fijos</a>
        <a class="boton boton_1" href="{{'blog'|relative_url}}" title="Blog de Holographic">Ver más en el blog</a>
      </div>
    </li>
    <li class="dropdown">
      <span>Nosotros</span>
      <div class="dropdown-content">
        <a class="boton boton_1" href="{{'/quienes-somos'|relative_url}}" title="Sobre Holographic S.A.S.">Quiénes somos</a>
        <a class="boton boton_1" href="{{'/contacto'|relative_url}}" title="Contacta con Holographic">Contacto con Holographic</a>
        <a class="boton boton_1" href="{{'/preguntas-frecuentes'|relative_url}}" title="Contacta con Holographic">Preguntas frecuentes</a>
        <a class="boton boton_1" href="{{'/recursos-gratuitos'|relative_url}}" title="Contacta con Holographic">Recursos gratuitos</a>
      </div>
    </li>
    <li>
      <a href="#" title="Escribe al WhatsApp de Holographic" rel="nofollow noopener noreferrer" target="_blank" class="boton boton_1" id="lead_whatsapp">Asesorías</a>
    </li>
  </ul>
  <label for="nav-toggle" class="icono-nav">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>
