.posts{
  padding: 4em 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}

.posts__blog {
  margin: 0;
  display: grid;
  gap: 1em;
  place-items: center;
  width: min(100%, 320px);
  
  div{
    display: grid;
    
    small{
      font-weight: 700;
      place-self: end;
    }

    h4{
      padding: 12px;
      box-shadow: var(--shadow);
      background-color: #fefefe;
    }
    
    .intro{
      text-align: left;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 12px;
    }
    
    .link{
      place-self: end;
      margin: 0;
    }
  }
}

.post_header{
  padding-top: 4em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
  justify-content: center;
}

.post_header > div{
  border-radius: var(--radius);
  flex: 1 0 520px;
  max-width: 100%;
  padding: 40px;
  display: grid;
}

.post_header div h1{
  font-size: clamp(2.25rem, 2.023rem + 1.14vw, 2.75rem);
}

.post_header small,
.post_header p{
  font-weight: 900;
}

.post_header img{
  width: min(100%, 600px);
  object-fit: contain;
  object-position: center;
}

.post img{
  display: block;
  margin-inline: auto;
  margin-bottom: 1em;
}
